<nav data-testid="app-navigation">
  <ul>
    <li>
      <a
        data-testid="link-home"
        routerLink="home"
        [routerLinkActive]="['active']"
        >Home</a
      >
    </li>
    <li>
      <a
        data-testid="link-counter"
        routerLink="counter"
        [routerLinkActive]="['active']"
        >Counter</a
      >
    </li>
    <li>
      <a
        data-testid="link-songs"
        routerLink="songs"
        [routerLinkActive]="['active']"
        >Songs</a
      >
    </li>
  </ul>
</nav>
